.logo {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 300px;
}
.custom-text {
    position: relative;
    top: 300px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center; /* Center align text */
    line-height: 1.5; /* Line spacing */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}


