.signup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.signup-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-logo {
  background-color: rgb(14, 186, 151);
  width: 50%;
  height: 70rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 0 8px 10px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.signup-logo img {
  width: 500px;
}

.stepper-container {
  width: 70%;
  padding: 0px 100px;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
